body {
    margin: 0px;
    padding: 0px;
}
.prencipal {
    margin: 20px auto;
    width: 80%;
}
.logo {
    margin: 20px auto;
    width: 80%;
    height: 100px;
}
.logo img {
    width: 30%;
    height: 100px;
}
nav 
{
    width: 80%;
    background-color: rgb(2, 75, 47);
    margin-left: 10%;
}
.MENU-PRENCIPAL{
    padding: 0px;
    margin: 0px;
    height: 50px;
   
}
.MENU-PRENCIPAL::after{
    content: "";
    display: block;
    clear: both;
}
nav >ul >li {
    
    display: inline;
    position: relative;
}

.MENU-PRENCIPAL >li >a{
    padding: 20px 30px;
    color: rgb(220, 238, 217);
}
.MENU-PRENCIPAL >li:hover >a {
    padding: 18px 30px 20px 30px;
}
nav li {
    list-style-type: none;
}
.sous-menu {
    display: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
/*sous menu*/
li:hover .sous-menu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left:0px;
    padding: 0px;
    z-index: 10000;
}

.sous-menu >li
{
padding: 0px;
margin: 0px;
}
.sous-menu >li >a
{
    padding: 15px 20px;
    font-size: 15px;
    color: #5f916e ;
    width: 250px;
}

.MENU-PRENCIPAL >li >a:hover{
border-top: 5px solid rgb(2, 75, 47);
background-color: rgba(128, 160, 97, 0.15);
    color:rgb(0, 14, 2);
}

.sous-menu >li:hover{
background-color:  rgb(2, 75, 47);
}
.sous-menu >li >a:hover{
    color: #eeeeee;
       
    }
 .coaur {
    margin: auto;
    width: 80%;
    height: 300px;
   /* margin-top: 0px;
    margin-bottom: 0px;*/
  

}
.prtidroit {
    margin: auto;
    width: 50%;
    height: 300px;
    float: left;
    background-color: #d1f8dd;
    margin-bottom: 0px;
}
.prtigouchH {
    margin: auto;
    margin-top: 0px;
    width: 49%;
    height: 150px;
    float: right;
    background-color: #aedebd;
}
.partigouchB {
    margin: auto;
    margin-top: 0px;
    width: 49%;
    height: 150px;
    float: right;
    background-color: #e3f8ea;
}
.footer {
    margin: auto;
    width: 80%;
    height: 100px;
    background-color:rgb(2, 75, 47);
    color: rgb(220, 238, 217);
}
.pr1{
    margin: auto;
    width: 35%;
    height: 100px;
    float: left;
}
.pr2{
    margin: auto;
    width: 30%;
    height: 100px;
    border-left:none; 
    text-align: center;
    padding-top: 30px;
    
}
.pr3{
    margin: auto;
    width: 35%;
    height: 100px;
    float: right;
    margin-top:-105px; 
    border-left: none;
}